@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 h1 {
  @apply font-bold mb-8 text-3xl md:text-6xl md:text-left;
 }
}

.paragraph {
 @apply max-w-md text-center text-lg text-grayishBlue;
}

.button {
 @apply p-4 rounded text-sm font-bold;
}

.hamburger {
 cursor: pointer;
 width: 24px;
 height: 24px;
 transition: all 0.25s;
 position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
 content: '';
 position: absolute;
 width: 24px;
 height: 3px;
 top: 0;
 left: 0;
 background: #000;
 transform: rotate(0);
 transition: all 0.5s;
}

.hamburger-middle {
 transform: translateY(7px);
}

.hamburger-bottom {
 transform: translateY(14px);
 background: #000;
}

.open {
 transform: rotate(90deg);
 transform: translateY(0px);
 position: fixed;
 top: 50px;
 right: 25px;
}

.open .hamburger-top {
 transform: rotate(45deg) translateY(6px) translateX(6px);
 background-color: #fff;
}

.open .hamburger-middle {
 display: none;
}

.open .hamburger-bottom {
 transform: rotate(-45deg) translateY(6px) translateX(-6px);
 background-color: #fff;
}

.mobile-menu {
 @apply uppercase hover:text-red-500 text-white;
}
